@import './node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './node_modules/bootstrap-icons/font/bootstrap-icons.css';

.header {
    background-color: #7952B3;
}
.bi {
    position: relative;
}
.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    font-size: 32px;
    filter: invert(1);
}

#items-count-in-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    padding: 0.4rem;
    border-radius: 100%;
    position: absolute;
    bottom: -10px;
    left: -11px;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 14px;
    font-variant: normal;
    font-style: normal;
}

.img-container {
    height: 240px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 150px;
    max-height: 220px;
    object-fit: contain;
}

.hide {
    display: none !important;
}